* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: black;
}

.btn-cart {
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* PRODUCTS */

.products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 30px;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: calc(25% - 20px);
    min-width: 250px;

    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.product-card h3 {
    margin: 15px 0 10px;
}

.product-card p {
    margin-bottom: 15px;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: green;
}

.product-card button {
    margin-top: auto;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}